<html>
<body>

    <% for(var i=0; i<mesas.length; i++) {%>

        <div name="mesas" class=Estilo>
            <label for=""> <%= mesas[i].name_mesa %> </label>
            <% if (mesas[i].estatus==1) { %>
                <h2 style="color:green"> "MESA OCUPADA"</h2>
            <% } %>
            <% if (mesas[i].estatus==0) { %>
                <h2 style="color:red"> "MESA LIBRE"</h2>
            <% } %>

        </div>
        <br>
    <% } %>

</body>
</html>
